page-login {
    background-image: url('/assets/imgs/bg-login.png');

    
    img {
        max-width: 60%;
        border: 0;
        display: block;
        margin: auto;
    }

    .content-md, .item-md,.content-ios, .item-ios{
        background: none;
    }

    .item-input .label-md, .item-select .label-md, .item-datetime .label-md, .text-input-md{
        
        color: #0c0808;
        //text-shadow: 2px 2px #ffffff;
        //text-transform: lowercase;
        background-color: white;
        opacity: 0.75;
        font-size: large;
    }

    .item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios, .text-input-ios {
        
        color: #0c0808;
        text-shadow: 2px 2px #ffffff;
    }

    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
        
        border-bottom-color: white;
        box-shadow: inset  -1px 0 0 #ffffff;
    }

    .class-fingerprint {
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
        color: white;
    }

    ion-header{
        background-color: #71b81d;;
        color: #ffffff;
    }

    ion-footer{
        img {
            max-width: 40%;
        }
    }

}

