<ion-content *ngIf="viewLogin">
  <br /><br />
  <img text-center [src]="'assets/imgs/logo-login.png'">
  <div *ngIf="!divLogin">
    <form *ngIf="!divMudarSenha">
      <ion-list>
        <p text-center float-center style="color: white" fixed>Digite o código que você recebeu no seu e-mail</p>
        <ion-item>
          <ion-label fixed>Codigo</ion-label>
          <ion-input type="codigo" [(ngModel)]="codigo" name="codigo"></ion-input>
        </ion-item>
        <div padding>
          <button (click)="validarCodigo()" ion-button color="primary" block icon-start>
            <ion-icon name="log-in"></ion-icon>
            Validar Codigo
          </button>
        </div>
      </ion-list>
    </form>
    <form *ngIf="divMudarSenha">
        <ion-list>
          <p text-center float-center style="color: white" fixed>Digite 2x sua nova senha</p>
          <ion-item>
            <ion-label fixed>Nova Senha: </ion-label>
            <ion-input type="password" [(ngModel)]="senha" name="senha" placeholder="Digite a Senha"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label fixed>Confirme: </ion-label>
              <ion-input type="password" [(ngModel)]="confirma" name="confirma" placeholder="Digite Novamente a Senha"></ion-input>
            </ion-item>
          <div padding>
            <button (click)="trocarSenha()" ion-button color="primary" block icon-start>
              <ion-icon name="log-in"></ion-icon>
              Trocar Senha
            </button>
          </div>
        </ion-list>
      </form>
  </div>

  <div *ngIf="divLogin">
    <form (submit)="doLogin()">
      <ion-list>

        <ion-item>
          <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
          <ion-input type="email" [(ngModel)]="account.username" name="username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
          <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
        </ion-item>

        <div padding>
          <button ion-button color="primary" block icon-start>
            <ion-icon name="log-in"></ion-icon>
            {{ 'LOGIN_BUTTON' | translate }}
          </button>
        </div>
      </ion-list>
    </form>
    <p text-center float-center *ngIf="useFingerprintChange" style="color: white" fixed>Coloque sua digital para logar
      no sistema</p>
    <ion-row *ngIf="rowFingerprint">
      <ion-col col-12>
        <ion-item no-lines class="class-fingerprint">
          <ion-label fixed>{{'FINGERPRINT' | translate}}</ion-label>
          <ion-toggle [(ngModel)]="useFingerprintChange"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <button ion-button color="danger" (click)="openModalRememberPassword()" block>{{ 'LOGIN_REMEMBER' | translate
          }}</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button color="primary" (click)="changeView()" block>{{ 'SIGNUP_TITLE' | translate }}</button>
      </ion-col>
    </ion-row>

    <ion-row text-center>
     <ion-label class="class-fingerprint" (click)="showConditions()">Termos e Condições</ion-label>
    </ion-row>
  </div>
</ion-content>

<ion-content *ngIf="!viewLogin">
  <ion-header>

    <ion-navbar>
      <ion-title>{{ 'SIGNUP' | translate }}</ion-title>
      <ion-buttons start>
        <button ion-button bg (click)="changeView()">
          <span color="primary" showWhen="ios">
            {{ 'CANCEL_BUTTON' | translate }}
          </span>
          <ion-icon showWhen="android" name="md-close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>

  </ion-header>
  <h1>{{ 'SIGNUP_TITLE' | translate }}</h1>
  <form (submit)="doSubscribe()">

    <ion-list>

      <ion-item>
        <ion-label>{{ 'NAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="newAccount.username" name="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="newAccount.email" name="email"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="newAccount.password" name="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'PASSWORD_CONFIRM' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="newAccount.confirm" name="confirm"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block icon-start>
          <ion-icon name="add"></ion-icon>
          {{ 'SIGNUP_BUTTON' | translate }}
        </button>
      </div>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <img text-center [src]="'assets/imgs/logo-vego.png'">
  </ion-toolbar>
</ion-footer>