<ion-header>
  <ion-navbar>
    <ion-title>
      <img text-center style="margin-left: 25px" [src]="'assets/imgs/logo.png'" alt="">
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content text-center>
  <ion-navbar>
    <h4 text-center>Apoiadores, amigos, parceiros.... se inscreva</h4>
  </ion-navbar>
  <a *ngFor="let apoiador of apoiadores" href="{{apoiador.url}}" target="_blank"><img text-center style="margin-left: 25px" width="50%" [src]="apoiador.imagem" alt=""/><br/></a>
  <br/><br/><br/>

</ion-content>
