<ion-header>
    <ion-navbar>
        <ion-title>
            <img text-center style="margin-left: 25px" [src]="'assets/imgs/logo.png'" alt="">
          </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <ion-navbar>
      <h4 text-center>Receitas Salvas</h4>
      
    </ion-navbar>
    <h5 text-center>Não há receitas salvas</h5>
  </ion-content>