<ion-header>
  <ion-navbar>
    <ion-title>
      <img text-center style="margin-left: 25px" [src]="'assets/imgs/logo.png'" alt="">
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <h4 text-center>{{id == undefined || id == "" ? 'Cadastre o Produto' : 'Dados do Produto aki'}}</h4>
  <h5 text-center padding color="red" *ngIf="lista != 'EhVeg' && id == undefined && idTerceiro != undefined">
    <b text-center>Esse formulário é para você CADASTRAR o produto na lista EhVeg. Você não está editando o produto na {{lista}}</b>
  </h5>

  <ion-list>

        <div text-center center>
        <img class="profile-photo" (click)="tirarFotoProduto()" text-center [src]="base64Image" alt="">
        </div>

        <ion-item>
        <ion-avatar item-end>
            <button (click)="abrirProduto()" text-center ion-button color="primary" block icon-start>
             <ion-icon text-center name="md-camera"></ion-icon>
            </button>
            </ion-avatar>
            <ion-label>Nome do produto <br/>e ou marca</ion-label>
        <ion-textarea  rows="5" *ngIf="produto.produto != undefined" [(ngModel)]="produto.produto" name="produto"></ion-textarea>
   </ion-item>
    <ion-item>
      <ion-label>Empresa</ion-label>
      <ion-input type="text" [(ngModel)]="produto.empresa" name="empresa"></ion-input>
      <!--ion-input type="text" [(ngModel)]="produto.empresa" name="empresa" disabled="produto.emp_des" ></ion-input-->
      <!--ion-input type="text" [(ngModel)]="produto.empresa" name="empresa" [disabled]="isDisabled" ></ion-input-->
      <!--ion-input type="text" [(ngModel)]="produto.empresa" name="empresa" disabled="produto.empresa==''" ></ion-input-->
      <!--script> 
      angular.module('myapp',[])
      .run(function($rootScope,$timeout){
        $rootScope.isDisabled = true;
        $timeout(function(){
        $rootScope.isDisabled = false;
      },5000);
      });
      </script-->
    </ion-item>

    <ion-item>
      <ion-label>Tipo ou <br/>informaçāo adicional</ion-label>
      <ion-input type="text" [(ngModel)]="produto.tipo" name="tipo"></ion-input>
    </ion-item>


    <ion-item>
        <ion-avatar item-end>
            <button (click)="abrirIngrediente()" text-center ion-button color="primary" block icon-start>
              <ion-icon text-center name="md-camera"></ion-icon>
            </button>
          </ion-avatar>
      <ion-label>Composiçāo ou<br/> Ingrediente</ion-label>
      <ion-textarea  rows="5" *ngIf="produto.ingredientes != undefined" [(ngModel)]="produto.ingredientes" name="ingredientes"></ion-textarea>
    </ion-item>


    <ion-item>
      <ion-avatar item-end>
        <button (click)="abrirCodigoBarras()" text-center ion-button color="primary" block icon-start>
          <ion-icon text-center name="md-camera"></ion-icon>
        </button>
      </ion-avatar>
      <ion-label>Código de Barras </ion-label>
      <ion-input type="text" *ngIf="produto.codigoDeBarras != undefined" [(ngModel)]="produto.codigoDeBarras" name="codigoDeBarras"></ion-input>
    </ion-item>


    <div padding>
      <button (click)="saveProduct()" ion-button color="primary" block icon-start>
        <ion-icon name="add-circle"></ion-icon>
        Go Vegan - CADASTRAR PRODUTO
      </button>
    </div>

    <hr />
    <div *ngIf="id != undefined">
      <h4 text-center>Avaliações</h4>
      <ion-item>
        <ion-label>Categoria </ion-label>
        <ion-select [(ngModel)]="avaliacao.categoria" name="categoria">
          <ion-option *ngFor="let cat of categorias" [value]="cat">{{cat}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Seu comentario</ion-label>
        <ion-input type="text" [(ngModel)]="avaliacao.comentario" name="comentario"></ion-input>
      </ion-item>
      <div padding>
        <button (click)="avaliarProduto()" ion-button color="primary" block icon-start>
          <ion-icon name="add-circle"></ion-icon>
          Go Vegan! Avaliar
        </button>
      </div>
      <hr />
      <h4 text-center>Outras Avaliações</h4>
      <ion-row>
        <ion-col padding col-4 text-center color="danger" class="notifications-badge">
          <ion-badge>{{categoriasSeparadas.naoVegetariano}}</ion-badge><br />
          Não <br />Vegano
        </ion-col>
        <ion-col padding col-4 text-center color="danger" class="notifications-badge2">
          <ion-badge>{{categoriasSeparadas.vegetariano}}</ion-badge><br /><br />
          Vegetariano
        </ion-col>
        <ion-col padding col-4 text-center color="danger" class="notifications-badge">
          <ion-badge>{{categoriasSeparadas.vegano}}</ion-badge><br />
          <br />Vegano
        </ion-col>
      </ion-row>
      <div padding *ngFor="let av of produto.avaliacoes">
        <p><b>{{av.categoria}} - </b>
          {{av.comentario}}</p>
        <hr />
      </div>
    </div>
  </ion-list>
</ion-content>