<ion-header>
  <ion-navbar>
    <ion-title>
      <img text-center style="margin-left: 2px" [src]="'assets/imgs/logo.png'" alt="">
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-navbar>
    <h4 text-center>Resultados EhVeg</h4>
  </ion-navbar>
  <p padding text-justify>O EhVeg apenas consulta, NÃO modifica a lista de terceiros! Consulte sempre o site dos
    responsaveis. (lista-vego.html)<p>

      <img *ngIf="produtos.length == 0" text-center style="margin-left: 2px" [src]="'assets/imgs/loading.gif'" alt="">
      <div *ngFor="let produto of produtos" (click)="showDetailsProduct(produto)" padding style="width:100%; float:left;">
        <div *ngFor="let key of keys">
          <div *ngIf="produto['Nome']">
            <div *ngIf="key == 'Nome'">                
              <div style="width:100%; padding:5px; float:left; background-color:#389c21; color:#fff; line-height:20px; font-size:20px;">
                <h3 text-center style="color:#fff; margin:0; font-size:18px;">
                  {{produto?.Nome }}
                </h3>
              </div>
            </div>

            <div >
              <div style="width:100%; padding:5px; float:left; background-color:#ddd; font-size:12px;">
                <div class="row" style="padding:0;">
                  <div class="col-99 text-center" style="padding:0;">
                    <b>{{key}}:</b> {{produto[key]}}
                  </div>                  
                </div>
              </div>
            </div>

          </div>          
        </div>
      </div>
</ion-content>