<ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  Bem vindo ao EhVeg
  <button (click)="redirect()" ion-button color="primary" block icon-start>
    <ion-icon name="log-in"></ion-icon>
    Conhecer o EhVEg
  </button>
</ion-content>