<ion-header>
  <ion-navbar>
    <ion-title>
      <img text-center style="margin-left: 85px" [src]="'assets/imgs/logo.png'" alt="">
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="info-animal">



  <ion-navbar>
    <h3 text-center>{{animal?.nome}}
      <button *ngIf="!animalSalvo" ion-button icon-only (click)="saveBull()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
      <button *ngIf="animalSalvo" ion-button icon-only (click)="deleteBull()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
      <button ion-button icon-only (click)="generatePdf()">
        <ion-icon name="share"></ion-icon>
      </button>
    </h3>
    <p class="infoAval" text-center>{{infoAval}}
    </p>


  </ion-navbar>

  <div class="row header text-center">
    <div col-3 class="col col-20">
      Série/RGN
    </div>
    <div col-2 class="col col-20">
      RGD
    </div>
    <div col-2 class="col col-20">
      {{animal?.AnimalAGCriador[0].mvp}}MGT{{(animal?.rc == 1 || animal?.rc == 2 || animal?.rc == 4 || animal?.rc ==
      8)?'e':''}}

    </div>
    <div col-3 class="col col-20">
      Acurácia
    </div>
    <div col-2 class="col col-20">
      Top
    </div>
  </div>
  <div class="row body text-center">
    <div col-3 class="col col-20">
      {{animal?.serie}} {{animal?.rgn}}
    </div>
    <div col-2 class="col col-20">
      {{animal?.rgd}}
    </div>
    <div col-2 class="col col-20">
      {{animal?.AnimalAGCriador[0].mgt}}
    </div>
    <div col-3 class="col col-20">
      {{(animal?.AnimalAGCriador[0]?.amgt * 100).toString().substring(0,2)}}
    </div>
    <div col-2 class="col col-20">
      {{animal?.AnimalAGCriador4[0].mgt}}%
    </div>
  </div>
  <div class="row header text-center" style="border-top:2px solid #fff;">
    <div class="col col-20" ng-hide="consultaAvancada" *ngIf="nomeDep != 'MGTe'">
      {{animal?.AnimalAGCriador[0]?.mvp}}{{nomeDep}}
    </div>
    <div class="col col-20" ng-hide="consultaAvancada" *ngIf="nomeDep != 'MGTe'">
      Acurácia
    </div>
    <div class="col col-20" ng-hide="consultaAvancada" *ngIf="nomeDep != 'MGTe'">
      Top
    </div>
    <div class="col" [ngClass]="((nomeDep != 'MGTe') && (!consultaAvancada)) ? 'col-20':'col-50'">
      Sexo
    </div>
    <div class="col" [ngClass]="((nomeDep != 'MGTe') && (!consultaAvancada)) ? 'col-20':'col-50'">
      Dt. Nasc.
    </div>
  </div>
  <div class="row body text-center">
    <div class="col col-20" ng-hide="consultaAvancada" *ngIf="nomeDep != 'MGTe'">
      {{animal[tblValorDep] != undefined ? animal[tblValorDep][0][cmpValorDep] : 0}}
    </div>
    <div class="col col-20" ng-hide="consultaAvancada" *ngIf="nomeDep != 'MGTe'">
      {{animal[tblAcuraciaDep] != undefined ? (animal[tblAcuraciaDep][0][cmpAcuraciaDep] *
      100).toString().substring(0,2) : 0}}
    </div>
    <div class="col col-20" ng-hide="consultaAvancada" *ngIf="nomeDep != 'MGTe'">
      {{animal[tblTopDep] != undefined ? animal[tblTopDep][0][cmpTopDep] : 0}}%
    </div>
    <div class="col" [ngClass]="((nomeDep != 'MGTe') && (!consultaAvancada)) ? 'col-20':'col-50'">
      {{verificaSexoAnimal(animal?.sx)}}
    </div>
    <div class="col" [ngClass]="((nomeDep != 'MGTe') && (!consultaAvancada)) ? 'col-20':'col-50'">
      {{verificaDataNascimento(animal?.dt_nasc)}}
    </div>
  </div>

  <h4 text-center class="text-center" style="font-size:14px;">
    <span style="float:left; font-size:0.8em; margin:3px 0 0 16px; font-weight:normal;">
      <ion-icon name="arrow-left"></ion-icon>
    </span> Deps MGTe
    <span style="float:right; font-size:0.8em; margin:3px 16px 0 0; font-weight:normal;">
      <ion-icon name="arrow-right"></ion-icon>
    </span>
  </h4>

  <ion-scroll scrollX="true" style="height: 85px;" *ngIf="animal?.rc == 1">
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DIPP</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddipp:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].adipp
        *
        100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddipp+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}D3P</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpp30 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpp30:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp30 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpp30
        * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp30 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpp30+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}MP120</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].ampp120 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].dmpp120:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].ampp120 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].ampp120 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].ampp120 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].dmpp120+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}MP210</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].ampp240 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].dmpp240:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].ampp240 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].ampp240 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].ampp240 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].dmpp240+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DP120</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpp120 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpp120:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp120 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpp120 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp120 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpp120+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DP210</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpp240 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpp240:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp240 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpp240 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp240 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpp240+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DP450</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpp455:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpp455 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpp455+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DSTAY</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adstay * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddstay:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adstay * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adstay
        * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adstay * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddstay+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DPE365</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpe365:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpe365 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpe365+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DPE450</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpe455:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpe455 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpe455+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DAOL</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adaol * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddaol:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adaol * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].adaol
        *
        100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adaol * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddaol+'%':'-'}}</p>
    </div>
    <div class="clearfix"></div>
  </ion-scroll>


  <ion-scroll scrollX="true" style="height: 85px;" *ngIf="animal?.rc == 2">

    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}MP120</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].ampp120 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].dmpp120:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].ampp120 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].ampp120 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].ampp120 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].dmpp120+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DP365</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpp365 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpp365:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp365 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpp365 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp365 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpp365+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DP450</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpp455:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpp455 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpp455+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DPE365</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpe365:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpe365 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpe365+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DPE450</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpe455:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpe455 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpe455+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DIPP</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddipp:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].adipp
        *
        100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddipp+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DPG</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpg * 100 | number:0) != 0)?animal?.AnimalAGCriador[0].ddpg:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpg * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].adpg *
        100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpg * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpg+'%':'-'}}</p>
    </div>
    <div class="clearfix"></div>
  </ion-scroll>

  <ion-scroll scrollX="true" style="height: 85px;" *ngIf="animal?.rc == 4">

    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DP120</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpp120 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpp120:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp120 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpp120 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp120 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpp120+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DP365</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpp365 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpp365:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp365 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpp365 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp365 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpp365+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DP450</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpp455:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpp455 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpp455+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DPE365</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpe365:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpe365 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpe365+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DPE450</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpe455:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpe455 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpe455+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DIPP</h4>
      <p class="v1">{{(animal?.AnimalAGCriador[0].adipp * 100 != animal?.AnimalAGCriador[0].ddipp) ? '':'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].adipp
        *
        100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) !=
        animal?.AnimalAGCriador4[0].ddipp+'%')
        ? '':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DPG</h4>
      <p class="v1">{{(animal?.AnimalAGCriador[0].adpg * 100 != 0) ? animal?.AnimalAGCriador[0].ddpg:'-'}}</p>
      <p class="v2">@ {{(animal?.AnimalAGCriador[0].adpg * 100 != 0)?(animal?.AnimalAGCriador[0].adpg *
        100 | number:0):'-'}}</p>
      <p class="v3">® {{(animal?.AnimalAGCriador[0].adpg * 100 !=
        0)?animal?.AnimalAGCriador4[0].ddpg+'%':'-'}}</p>
    </div>
    <div class="clearfix"></div>
  </ion-scroll>

  <ion-scroll scrollX="true" style="height: 85px;" *ngIf="animal?.rc == 8">
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}MP120</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].ampp120 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].dmpp120:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].ampp120 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].ampp120 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].ampp120 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].dmpp120+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DP120</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpp120 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpp120:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp120 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpp120 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp120 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpp120+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DP365</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpp365 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpp365:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp365 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpp365 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp365 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpp365+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DP450</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpp455:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpp455 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpp455+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DPE365</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpe365:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpe365 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpe365+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DPE450</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpe455:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpe455 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpe455+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DIPP</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddipp:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].adipp
        *
        100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddipp+'%':'-'}}</p>
    </div>
    <div class="clearfix"></div>
  </ion-scroll>
  <div class="row text-center body">
    <div class="col">
      Legenda:
    </div>
    <div class="col">
      @: Acurácia
    </div>
    <div class="col">
      ®: TOP
    </div>
  </div>

  <h4 text-center class="text-center" style="font-size:14px;">
    <span style="float:left; font-size:0.8em; margin:3px 0 0 16px; font-weight:normal;">
      <ion-icon name="arrow-left"></ion-icon>
    </span> Deps Reprodução
    <span style="float:right; font-size:0.8em; margin:3px 16px 0 0; font-weight:normal;">
      <ion-icon name="arrow-right"></ion-icon>
    </span>
  </h4>
  <ion-scroll scrollX="true" style="height: 85px;">
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DPG</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpg * 100 | number:0) != 0)?animal?.AnimalAGCriador[0].ddpg:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpg * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].adpg *
        100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpg * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpg+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DIPP</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddipp:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].adipp
        *
        100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddipp+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}D3P</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpp30 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpp30:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp30 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpp30
        * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp30 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpp30+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DSTAY</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adstay * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddstay:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adstay * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adstay
        * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adstay * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddstay+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DPAC</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpac * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpac:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpac * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].adpac
        *
        100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpac * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpac+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DPE365</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpe365:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpe365 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpe365+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DPE450</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpe455:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpe455 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpe455+'%':'-'}}</p>
    </div>
  </ion-scroll>
  <div class="row text-center body">
    <div class="col">
      Legenda:
    </div>
    <div class="col">
      @: Acurácia
    </div>
    <div class="col">
      ®: TOP
    </div>
  </div>
  <h4 text-center class="text-center" style="font-size:14px;">
    <span style="float:left; font-size:0.8em; margin:3px 0 0 16px; font-weight:normal;">
      <ion-icon name="arrow-left"></ion-icon>
    </span> Deps Crescimento
    <span style="float:right; font-size:0.8em; margin:3px 16px 0 0; font-weight:normal;">
      <ion-icon name="arrow-right"></ion-icon>
    </span>
  </h4>
  <ion-scroll scrollX="true" style="height: 85px;">
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}MP120</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].ampp120 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].dmpp120:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].ampp120 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].ampp120 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].ampp120 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].dmpp120+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}MP210</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].ampp240 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].dmpp240:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].ampp240 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].ampp240 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].ampp240 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].dmpp240+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DP120</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpp120 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpp120:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp120 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpp120 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp120 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpp120+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DP210</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpp240 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpp240:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp240 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpp240 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp240 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpp240+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DP365</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpp365 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpp365:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp365 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpp365 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp365 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpp365+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DP450</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpp455:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
        0)?(animal?.AnimalAGCriador[0].adpp455 * 100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpp455+'%':'-'}}</p>
    </div>
  </ion-scroll>
  <div class="row text-center body">
    <div class="col">
      Legenda:
    </div>
    <div class="col">
      @: Acurácia
    </div>
    <div class="col">
      ®: TOP
    </div>
  </div>
  <h4 text-center class="text-center" style="font-size:14px;">
    <span style="float:left; font-size:0.8em; margin:3px 0 0 16px; font-weight:normal;">
      <ion-icon name="arrow-left"></ion-icon>
    </span> Deps Carcaça e Eficiência Alimentar
    <span style="float:right; font-size:0.8em; margin:3px 16px 0 0; font-weight:normal;">
      <ion-icon name="arrow-right"></ion-icon>
    </span>
  </h4>
  <ion-scroll scrollX="true" style="height: 85px;">
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DAOL</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adaol * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddaol:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adaol * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].adaol
        *
        100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adaol * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddaol+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DACAB</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adp8 * 100 | number:0) != 0)?animal?.AnimalAGCriador[0].ddp8:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adp8 * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].adp8 *
        100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adp8 * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddp8+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DMAR</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].admar * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddmar:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].admar * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].admar
        *
        100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].admar * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddmar+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DMAC</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].admac * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddmac:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].admac * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].admac
        *
        100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].admac * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddmac+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DPCQ</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adpcq * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddpcq:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpcq * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].adpcq
        *
        100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adpcq * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddpcq+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DPPC</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adppc * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddppc:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adppc * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].adppc
        *
        100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adppc * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddppc+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DCAR</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adcar * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddcar:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adcar * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].adcar
        *
        100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adcar * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddcar+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DIMS</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adims * 100 | number:0) !=
        0)?animal?.AnimalAGCriador[0].ddims:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adims * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].adims
        *
        100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adims * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddims+'%':'-'}}</p>
    </div>
  </ion-scroll>
  <div class="row text-center body">
    <div class="col">
      Legenda:
    </div>
    <div class="col">
      @: Acurácia
    </div>
    <div class="col">
      ®: TOP
    </div>
  </div>
  <h4 text-center class="text-center" style="font-size:14px;">
    <span style="float:left; font-size:0.8em; margin:3px 0 0 16px; font-weight:normal;">
      <ion-icon name="arrow-left"></ion-icon>
    </span> Deps Morfológicas
    <span style="float:right; font-size:0.8em; margin:3px 16px 0 0; font-weight:normal;">
      <ion-icon name="arrow-right"></ion-icon>
    </span>
  </h4>
  <ion-scroll scrollX="true" style="height: 85px;">
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DDES</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].ades * 100 | number:0) != 0)?animal?.AnimalAGCriador[0].ddes:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].ades * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].ades *
        100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].ades * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddes+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DDPS</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adps * 100 | number:0) != 0)?animal?.AnimalAGCriador[0].ddps:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adps * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].adps *
        100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adps * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddps+'%':'-'}}</p>
    </div>
    <div class="deps" style="overflow-x: scroll;">
      <h4>{{animal?.AnimalAGCriador[0].mvp}}DDMS</h4>
      <p class="v1">{{((animal?.AnimalAGCriador[0].adms * 100 | number:0) != 0)?animal?.AnimalAGCriador[0].ddms:'-'}}</p>
      <p class="v2">@ {{((animal?.AnimalAGCriador[0].adms * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].adms *
        100 | number:0):'-'}}</p>
      <p class="v3">® {{((animal?.AnimalAGCriador[0].adms * 100 | number:0) !=
        0)?animal?.AnimalAGCriador4[0].ddms+'%':'-'}}</p>
    </div>
  </ion-scroll>
  <div class="row text-center body">
    <div class="col">
      Legenda:
    </div>
    <div class="col">
      @: Acurácia
    </div>
    <div class="col">
      ®: TOP
    </div>
  </div>

  <h4 text-center style="font-size:14px;">Árvore Genealógica</h4>
  <ion-scroll scrollX="true" delegate-handle="arvore-genealogica" style="height: 50vh; background-color:#398fd1;color: white">
    <div style="width:250%;">
      <div class="tree">
        <ul>
          <li>
            <a href="javascript:;" style="color: black">{{animal?.serie}} {{animal?.rgn}} {{animal?.rgd}}<br /><b>{{animal?.nome}}
              </b><br />MGTe
              {{animal?.AnimalAGCriador[0].mgt}} @ {{animal?.AnimalAGCriador[0].amgt*100}} TOP
              {{animal?.AnimalAGCriador4[0].mgt}}%</a>
            <ul ng-if="!consultaPublica && !offline">
              <li>
                <a (click)="searchAnimal(arvoreGenealogica?.pai)" class="m">{{arvoreGenealogica?.pai?.serie}}
                  {{arvoreGenealogica?.pai?.rgn}} {{arvoreGenealogica?.pai?.rgd}}<br /><b>{{arvoreGenealogica?.pai?.nome}}
                  </b><br />MGTe {{arvoreGenealogica?.pai?.AnimalAGCriador[0].mgt}} @
                  {{arvoreGenealogica?.pai?.AnimalAGCriador[0].amgt*100}} TOP
                  {{arvoreGenealogica?.pai?.AnimalAGCriador4[0].mgt}}%</a>
                <ul>
                  <li><a (click)="searchAnimal(arvoreGenealogica?.pai?.pai)" class="m">{{arvoreGenealogica?.pai?.pai?.serie}}
                      {{arvoreGenealogica?.pai?.pai?.rgn}} {{arvoreGenealogica?.pai?.pai?.rgd}}<br /><b>{{arvoreGenealogica?.pai?.pai?.nome}}
                      </b><br />MGTe {{arvoreGenealogica?.pai?.pai?.AnimalAGCriador[0].mgt}} @
                      {{arvoreGenealogica?.pai?.pai?.AnimalAGCriador[0].amgt*100}} TOP
                      {{arvoreGenealogica?.pai?.pai?.AnimalAGCriador4[0].mgt}}%</a></li>
                  <li><a (click)="searchAnimal(arvoreGenealogica?.pai?.mae)" class="f">{{arvoreGenealogica?.pai?.mae.serie}}
                      {{arvoreGenealogica?.pai?.mae.rgn}} {{arvoreGenealogica?.pai?.mae.rgd}}<br /><b>{{arvoreGenealogica?.pai?.mae.nome}}
                      </b><br />MGTe {{arvoreGenealogica?.pai?.mae.AnimalAGCriador[0].mgt}} @
                      {{arvoreGenealogica?.pai?.mae.AnimalAGCriador[0].amgt*100}} TOP
                      {{arvoreGenealogica?.pai?.mae.AnimalAGCriador4[0].mgt}}%</a></li>
                </ul>
              </li>
              <li>
                <a (click)="searchAnimal(arvoreGenealogica?.mae)" class="f">{{arvoreGenealogica?.mae.serie}}
                  {{arvoreGenealogica?.mae.rgn}} {{arvoreGenealogica?.mae.rgd}}<br /><b>{{arvoreGenealogica?.mae.nome}}
                  </b><br />MGTe {{arvoreGenealogica?.mae.AnimalAGCriador[0].mgt}} @
                  {{arvoreGenealogica?.mae.AnimalAGCriador[0].amgt*100}} TOP
                  {{arvoreGenealogica?.mae.AnimalAGCriador4[0].mgt}}%</a>
                <ul>
                  <li><a (click)="searchAnimal(arvoreGenealogica?.mae?.pai)" class="m">{{arvoreGenealogica?.mae.pai?.serie}}
                      {{arvoreGenealogica?.mae.pai?.rgn}} {{arvoreGenealogica?.mae.pai?.rgd}}<br /><b>{{arvoreGenealogica?.mae.pai?.nome}}
                      </b><br />MGTe {{arvoreGenealogica?.mae.pai?.AnimalAGCriador[0].mgt}} @
                      {{(arvoreGenealogica?.mae.pai?.AnimalAGCriador[0].amgt*100).toString().substring(0,2)}} TOP
                      {{arvoreGenealogica?.mae.pai?.AnimalAGCriador4[0].mgt}}%</a></li>
                  <li><a (click)="searchAnimal(arvoreGenealogica?.mae?.mae)" class="f">{{arvoreGenealogica?.mae.mae.serie}}
                      {{arvoreGenealogica?.mae.mae.rgn}} {{arvoreGenealogica?.mae.mae.rgd}}<br /><b>{{arvoreGenealogica?.mae.mae.nome}}
                      </b><br />MGTe {{arvoreGenealogica?.mae.mae.AnimalAGCriador[0].mgt}} @
                      {{(arvoreGenealogica?.mae.mae.AnimalAGCriador[0].amgt*100).toString().substring(0,2)}} TOP
                      {{arvoreGenealogica?.mae.mae.AnimalAGCriador4[0].mgt}}%</a></li>
                </ul>
              </li>
            </ul>
            <!-- <ul ng-if="consultaPublica || offline">
                <li>
                  <a href="javascript:;" class="m">{{arvoreGenealogica?.pai?.serie}} {{arvoreGenealogica?.pai?.rgn}}
                    {{arvoreGenealogica?.pai?.rgd}}<br /><b>{{arvoreGenealogica?.pai?.nome}} </b><br />MGTe
                    {{arvoreGenealogica?.pai?.AnimalAGCriador[0].mgt}} @
                    {{arvoreGenealogica?.pai?.AnimalAGCriador[0].amgt}} TOP
                    {{arvoreGenealogica?.pai?.AnimalAGCriador4[0].mgt}}%</a>
                  <ul>
                    <li><a href="javascript:;" class="m">{{arvoreGenealogica?.pai?.pai?.serie}}
                        {{arvoreGenealogica?.pai?.pai?.rgn}} {{arvoreGenealogica?.pai?.pai?.rgd}}<br /><b>{{arvoreGenealogica?.pai?.pai?.nome}}
                        </b><br />MGTe {{arvoreGenealogica?.pai?.pai?.AnimalAGCriador[0].mgt}} @
                        {{arvoreGenealogica?.pai?.pai?.AnimalAGCriador[0].amgt}} TOP
                        {{arvoreGenealogica?.pai?.pai?.AnimalAGCriador4[0].mgt}}%</a></li>
                    <li><a href="javascript:;" class="f">{{arvoreGenealogica?.pai?.mae.serie}}
                        {{arvoreGenealogica?.pai?.mae.rgn}} {{arvoreGenealogica?.pai?.mae.rgd}}<br /><b>{{arvoreGenealogica?.pai?.mae.nome}}
                        </b><br />MGTe {{arvoreGenealogica?.pai?.mae.AnimalAGCriador[0].mgt}} @
                        {{arvoreGenealogica?.pai?.mae.AnimalAGCriador[0].amgt}} TOP
                        {{arvoreGenealogica?.pai?.mae.AnimalAGCriador4[0].mgt}}%</a></li>
                  </ul>
                </li>
                <li>
                  <a href="javascript:;" class="f">{{arvoreGenealogica?.mae.serie}} {{arvoreGenealogica?.mae.rgn}}
                    {{arvoreGenealogica?.mae.rgd}}<br /><b>{{arvoreGenealogica?.mae.nome}} </b><br />MGTe
                    {{arvoreGenealogica?.mae.AnimalAGCriador[0].mgt}} @
                    {{arvoreGenealogica?.mae.AnimalAGCriador[0].amgt}} TOP
                    {{arvoreGenealogica?.mae.AnimalAGCriador4[0].mgt}}%</a>
                  <ul>
                    <li><a href="javascript:;" class="m">{{arvoreGenealogica?.mae.pai?.serie}}
                        {{arvoreGenealogica?.mae.pai?.rgn}} {{arvoreGenealogica?.mae.pai?.rgd}}<br /><b>{{arvoreGenealogica?.mae.pai?.nome}}
                        </b><br />MGTe {{arvoreGenealogica?.mae.pai?.AnimalAGCriador[0].mgt}} @
                        {{arvoreGenealogica?.mae.pai?.AnimalAGCriador[0].amgt}} TOP
                        {{arvoreGenealogica?.mae.pai?.AnimalAGCriador4[0].mgt}}%</a></li>
                    <li><a href="javascript:;" class="f">{{arvoreGenealogica?.mae.mae.serie}}
                        {{arvoreGenealogica?.mae.mae.rgn}} {{arvoreGenealogica?.mae.mae.rgd}}<br /><b>{{arvoreGenealogica?.mae.mae.nome}}
                        </b><br />MGTe {{arvoreGenealogica?.mae.mae.AnimalAGCriador[0].mgt}} @
                        {{arvoreGenealogica?.mae.mae.AnimalAGCriador[0].amgt}} TOP
                        {{arvoreGenealogica?.mae.mae.AnimalAGCriador4[0].mgt}}%</a></li>
                  </ul>
                </li>
              </ul> -->
          </li>
        </ul>
      </div>
    </div>
  </ion-scroll>
  <div>

  
  <div id="Html2Pdf">
    <small>
      <div>
        <h4 style="background-color: #398fd1; color: white" text-center>{{animal?.nome}}</h4>
      </div>
      <div class="row header text-center">
        <div col-3 class="col col-20">
          Série/RGN
        </div>
        <div col-2 class="col col-20">
          RGD
        </div>
        <div col-2 class="col col-20">
          {{animal?.AnimalAGCriador[0].mvp}}MGT{{(animal?.rc == 1 || animal?.rc == 2 || animal?.rc == 4 || animal?.rc
          ==
          8)?'e':''}}

        </div>
        <div col-3 class="col col-20">
          Acurácia
        </div>
        <div col-2 class="col col-20">
          Top
        </div>
      </div>
      <div class="row body text-center">
        <div col-3 class="col col-20">
          {{animal?.serie}} {{animal?.rgn}}
        </div>
        <div col-2 class="col col-20">
          {{animal?.rgd}}
        </div>
        <div col-2 class="col col-20">
          {{animal?.AnimalAGCriador[0].mgt}}
        </div>
        <div col-3 class="col col-20">
          {{(animal?.AnimalAGCriador[0]?.amgt * 100).toString().substring(0,2)}}
        </div>
        <div col-2 class="col col-20">
          {{animal?.AnimalAGCriador4[0].mgt}}%
        </div>
      </div>
      <div class="row header text-center" style="border-top:2px solid #fff;">
        <div class="col col-20" ng-hide="consultaAvancada" *ngIf="nomeDep != 'MGTe'">
          {{animal?.AnimalAGCriador[0]?.mvp}}{{nomeDep}}
        </div>
        <div class="col col-20" ng-hide="consultaAvancada" *ngIf="nomeDep != 'MGTe'">
          Acurácia
        </div>
        <div class="col col-20" ng-hide="consultaAvancada" *ngIf="nomeDep != 'MGTe'">
          Top
        </div>
        <div class="col" [ngClass]="((nomeDep != 'MGTe') && (!consultaAvancada)) ? 'col-20':'col-50'">
          Sexo
        </div>
        <div class="col" [ngClass]="((nomeDep != 'MGTe') && (!consultaAvancada)) ? 'col-20':'col-50'">
          Dt. Nasc.
        </div>
      </div>
      <div class="row body text-center">
        <div class="col col-20" ng-hide="consultaAvancada" *ngIf="nomeDep != 'MGTe'">
          {{animal[tblValorDep] != undefined ? animal[tblValorDep][0][cmpValorDep] : 0}}
        </div>
        <div class="col col-20" ng-hide="consultaAvancada" *ngIf="nomeDep != 'MGTe'">
          {{animal[tblAcuraciaDep] != undefined ? (animal[tblAcuraciaDep][0][cmpAcuraciaDep] *
          100).toString().substring(0,2) : 0}}
        </div>
        <div class="col col-20" ng-hide="consultaAvancada" *ngIf="nomeDep != 'MGTe'">
          {{animal[tblTopDep] != undefined ? animal[tblTopDep][0][cmpTopDep] : 0}}%
        </div>
        <div class="col" [ngClass]="((nomeDep != 'MGTe') && (!consultaAvancada)) ? 'col-20':'col-50'">
          {{verificaSexoAnimal(animal?.sx)}}
        </div>
        <div class="col" [ngClass]="((nomeDep != 'MGTe') && (!consultaAvancada)) ? 'col-20':'col-50'">
          {{verificaDataNascimento(animal?.dt_nasc)}}
        </div>
      </div>
      <div class="row text-center body">
        <div class="col">
          Legenda:
        </div>
        <div class="col">
          @: Acurácia
        </div>
        <div class="col">
          ®: TOP
        </div>
      </div>
      <hr />
      <p text-center class="text-center" style="font-size:14px;">
        Deps MGTe

      </p>

      <div *ngIf="animal?.rc == 1">
        <div class="depsPDF" col-5>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DIPP</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddipp:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adipp
            *
            100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddipp+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-5>
          <p>{{animal?.AnimalAGCriador[0].mvp}}D3P</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adpp30 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddpp30:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp30 * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adpp30
            * 100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp30 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddpp30+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-5>
          <p>{{animal?.AnimalAGCriador[0].mvp}}MP120</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].ampp120 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].dmpp120:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].ampp120 * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].ampp120 * 100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].ampp120 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].dmpp120+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-5>
          <p>{{animal?.AnimalAGCriador[0].mvp}}MP210</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].ampp240 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].dmpp240:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].ampp240 * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].ampp240 * 100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].ampp240 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].dmpp240+'%':'-'}}</p>
        </div>
        <br />
        <div class="depsPDF" col-5>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DP120</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adpp120 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddpp120:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp120 * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adpp120 * 100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp120 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddpp120+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-5>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DP210</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adpp240 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddpp240:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp240 * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adpp240 * 100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp240 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddpp240+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-5>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DP450</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddpp455:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adpp455 * 100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddpp455+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-5>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DSTAY</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adstay * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddstay:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adstay * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adstay
            * 100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adstay * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddstay+'%':'-'}}</p>
        </div>
        <br />
        <div class="depsPDF" col-5>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DPE365</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddpe365:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adpe365 * 100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddpe365+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-5>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DPE450</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddpe455:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adpe455 * 100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddpe455+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-4>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DAOL</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adaol * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddaol:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adaol * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adaol
            *
            100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adaol * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddaol+'%':'-'}}</p>
        </div>
      </div>
      <div  *ngIf="animal?.rc == 2">

          <div class="depsPDF" col-3>
            <p>{{animal?.AnimalAGCriador[0].mvp}}MP120</p>
            <p class="v1">{{((animal?.AnimalAGCriador[0].ampp120 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador[0].dmpp120:'-'}}</p>
            <p class="v2">@ {{((animal?.AnimalAGCriador[0].ampp120 * 100 | number:0) !=
              0)?(animal?.AnimalAGCriador[0].ampp120 * 100 | number:0):'-'}}</p>
            <p class="v3">® {{((animal?.AnimalAGCriador[0].ampp120 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador4[0].dmpp120+'%':'-'}}</p>
          </div>
          <div class="depsPDF" col-3>
            <p>{{animal?.AnimalAGCriador[0].mvp}}DP365</p>
            <p class="v1">{{((animal?.AnimalAGCriador[0].adpp365 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador[0].ddpp365:'-'}}</p>
            <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp365 * 100 | number:0) !=
              0)?(animal?.AnimalAGCriador[0].adpp365 * 100 | number:0):'-'}}</p>
            <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp365 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador4[0].ddpp365+'%':'-'}}</p>
          </div>
          <div class="depsPDF" col-3>
            <p>{{animal?.AnimalAGCriador[0].mvp}}DP450</p>
            <p class="v1">{{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador[0].ddpp455:'-'}}</p>
            <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
              0)?(animal?.AnimalAGCriador[0].adpp455 * 100 | number:0):'-'}}</p>
            <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador4[0].ddpp455+'%':'-'}}</p>
          </div>
          <div class="depsPDF" col-3>
            <p>{{animal?.AnimalAGCriador[0].mvp}}DPE365</p>
            <p class="v1">{{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador[0].ddpe365:'-'}}</p>
            <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
              0)?(animal?.AnimalAGCriador[0].adpe365 * 100 | number:0):'-'}}</p>
            <p class="v3">® {{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador4[0].ddpe365+'%':'-'}}</p>
          </div>
          <div class="depsPDF" col-3>
            <p>{{animal?.AnimalAGCriador[0].mvp}}DPE450</p>
            <p class="v1">{{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador[0].ddpe455:'-'}}</p>
            <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
              0)?(animal?.AnimalAGCriador[0].adpe455 * 100 | number:0):'-'}}</p>
            <p class="v3">® {{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador4[0].ddpe455+'%':'-'}}</p>
          </div>
          <div class="depsPDF" col-3>
            <p>{{animal?.AnimalAGCriador[0].mvp}}DIPP</p>
            <p class="v1">{{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) !=
              0)?animal?.AnimalAGCriador[0].ddipp:'-'}}</p>
            <p class="v2">@ {{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].adipp
              *
              100 | number:0):'-'}}</p>
            <p class="v3">® {{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) !=
              0)?animal?.AnimalAGCriador4[0].ddipp+'%':'-'}}</p>
          </div>
          <div class="depsPDF" col-3>
            <p>{{animal?.AnimalAGCriador[0].mvp}}DPG</p>
            <p class="v1">{{((animal?.AnimalAGCriador[0].adpg * 100 | number:0) != 0)?animal?.AnimalAGCriador[0].ddpg:'-'}}</p>
            <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpg * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].adpg *
              100 | number:0):'-'}}</p>
            <p class="v3">® {{((animal?.AnimalAGCriador[0].adpg * 100 | number:0) !=
              0)?animal?.AnimalAGCriador4[0].ddpg+'%':'-'}}</p>
          </div>
          <div class="clearfix"></div>
        </div>
      
        <div  *ngIf="animal?.rc == 4">
      
          <div class="depsPDF" col-3>
            <p>{{animal?.AnimalAGCriador[0].mvp}}DP120</p>
            <p class="v1">{{((animal?.AnimalAGCriador[0].adpp120 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador[0].ddpp120:'-'}}</p>
            <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp120 * 100 | number:0) !=
              0)?(animal?.AnimalAGCriador[0].adpp120 * 100 | number:0):'-'}}</p>
            <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp120 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador4[0].ddpp120+'%':'-'}}</p>
          </div>
          <div class="depsPDF" col-3>
            <p>{{animal?.AnimalAGCriador[0].mvp}}DP365</p>
            <p class="v1">{{((animal?.AnimalAGCriador[0].adpp365 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador[0].ddpp365:'-'}}</p>
            <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp365 * 100 | number:0) !=
              0)?(animal?.AnimalAGCriador[0].adpp365 * 100 | number:0):'-'}}</p>
            <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp365 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador4[0].ddpp365+'%':'-'}}</p>
          </div>
          <div class="depsPDF" col-3>
            <p>{{animal?.AnimalAGCriador[0].mvp}}DP450</p>
            <p class="v1">{{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador[0].ddpp455:'-'}}</p>
            <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
              0)?(animal?.AnimalAGCriador[0].adpp455 * 100 | number:0):'-'}}</p>
            <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador4[0].ddpp455+'%':'-'}}</p>
          </div>
          <div class="depsPDF" col-3>
            <p>{{animal?.AnimalAGCriador[0].mvp}}DPE365</p>
            <p class="v1">{{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador[0].ddpe365:'-'}}</p>
            <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
              0)?(animal?.AnimalAGCriador[0].adpe365 * 100 | number:0):'-'}}</p>
            <p class="v3">® {{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador4[0].ddpe365+'%':'-'}}</p>
          </div>
          <div class="depsPDF" col-3>
            <p>{{animal?.AnimalAGCriador[0].mvp}}DPE450</p>
            <p class="v1">{{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador[0].ddpe455:'-'}}</p>
            <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
              0)?(animal?.AnimalAGCriador[0].adpe455 * 100 | number:0):'-'}}</p>
            <p class="v3">® {{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador4[0].ddpe455+'%':'-'}}</p>
          </div>
          <div class="depsPDF" col-3>
            <p>{{animal?.AnimalAGCriador[0].mvp}}DIPP</p>
            <p class="v1">{{(animal?.AnimalAGCriador[0].adipp * 100 != animal?.AnimalAGCriador[0].ddipp) ? '':'-'}}</p>
            <p class="v2">@ {{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].adipp
              *
              100 | number:0):'-'}}</p>
            <p class="v3">® {{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) !=
              animal?.AnimalAGCriador4[0].ddipp+'%')
              ? '':'-'}}</p>
          </div>
          <div class="depsPDF" col-3>
            <p>{{animal?.AnimalAGCriador[0].mvp}}DPG</p>
            <p class="v1">{{(animal?.AnimalAGCriador[0].adpg * 100 != 0) ? animal?.AnimalAGCriador[0].ddpg:'-'}}</p>
            <p class="v2">@ {{(animal?.AnimalAGCriador[0].adpg * 100 != 0)?(animal?.AnimalAGCriador[0].adpg *
              100 | number:0):'-'}}</p>
            <p class="v3">® {{(animal?.AnimalAGCriador[0].adpg * 100 !=
              0)?animal?.AnimalAGCriador4[0].ddpg+'%':'-'}}</p>
          </div>
          <div class="clearfix"></div>
        </div>
      
        <div  *ngIf="animal?.rc == 8">
          <div class="depsPDF" col-3>
            <p>{{animal?.AnimalAGCriador[0].mvp}}MP120</p>
            <p class="v1">{{((animal?.AnimalAGCriador[0].ampp120 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador[0].dmpp120:'-'}}</p>
            <p class="v2">@ {{((animal?.AnimalAGCriador[0].ampp120 * 100 | number:0) !=
              0)?(animal?.AnimalAGCriador[0].ampp120 * 100 | number:0):'-'}}</p>
            <p class="v3">® {{((animal?.AnimalAGCriador[0].ampp120 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador4[0].dmpp120+'%':'-'}}</p>
          </div>
          <div class="depsPDF" col-3>
            <p>{{animal?.AnimalAGCriador[0].mvp}}DP120</p>
            <p class="v1">{{((animal?.AnimalAGCriador[0].adpp120 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador[0].ddpp120:'-'}}</p>
            <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp120 * 100 | number:0) !=
              0)?(animal?.AnimalAGCriador[0].adpp120 * 100 | number:0):'-'}}</p>
            <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp120 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador4[0].ddpp120+'%':'-'}}</p>
          </div>
          <div class="depsPDF" col-3>
            <p>{{animal?.AnimalAGCriador[0].mvp}}DP365</p>
            <p class="v1">{{((animal?.AnimalAGCriador[0].adpp365 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador[0].ddpp365:'-'}}</p>
            <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp365 * 100 | number:0) !=
              0)?(animal?.AnimalAGCriador[0].adpp365 * 100 | number:0):'-'}}</p>
            <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp365 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador4[0].ddpp365+'%':'-'}}</p>
          </div>
          <div class="depsPDF" col-3>
            <p>{{animal?.AnimalAGCriador[0].mvp}}DP450</p>
            <p class="v1">{{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador[0].ddpp455:'-'}}</p>
            <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
              0)?(animal?.AnimalAGCriador[0].adpp455 * 100 | number:0):'-'}}</p>
            <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador4[0].ddpp455+'%':'-'}}</p>
          </div>
          <div class="depsPDF" col-3>
            <p>{{animal?.AnimalAGCriador[0].mvp}}DPE365</p>
            <p class="v1">{{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador[0].ddpe365:'-'}}</p>
            <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
              0)?(animal?.AnimalAGCriador[0].adpe365 * 100 | number:0):'-'}}</p>
            <p class="v3">® {{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador4[0].ddpe365+'%':'-'}}</p>
          </div>
          <div class="depsPDF" col-3>
            <p>{{animal?.AnimalAGCriador[0].mvp}}DPE450</p>
            <p class="v1">{{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador[0].ddpe455:'-'}}</p>
            <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
              0)?(animal?.AnimalAGCriador[0].adpe455 * 100 | number:0):'-'}}</p>
            <p class="v3">® {{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
              0)?animal?.AnimalAGCriador4[0].ddpe455+'%':'-'}}</p>
          </div>
          <div class="deps" style="overflow-x: scroll;">
            <p>{{animal?.AnimalAGCriador[0].mvp}}DIPP</p>
            <p class="v1">{{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) !=
              0)?animal?.AnimalAGCriador[0].ddipp:'-'}}</p>
            <p class="v2">@ {{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].adipp
              *
              100 | number:0):'-'}}</p>
            <p class="v3">® {{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) !=
              0)?animal?.AnimalAGCriador4[0].ddipp+'%':'-'}}</p>
          </div>
          <div class="clearfix"></div>
        </div>
    </small>
  </div>
  <div id="Html2Pdf2">
    <small>

      <p text-center class="text-center" style="font-size:14px;">
        Deps Reprodução
      </p>
      <div>
        <div class="depsPDF" col-4>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DPG</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adpg * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddpg:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpg * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adpg *
            100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adpg * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddpg+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-4>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DIPP</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddipp:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adipp
            *
            100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adipp * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddipp+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-4>
          <p>{{animal?.AnimalAGCriador[0].mvp}}D3P</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adpp30 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddpp30:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp30 * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adpp30
            * 100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp30 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddpp30+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-4>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DSTAY</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adstay * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddstay:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adstay * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adstay
            * 100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adstay * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddstay+'%':'-'}}</p>
        </div>
        <br />
        <div class="depsPDF" col-4>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DPAC</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adpac * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddpac:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpac * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adpac
            *
            100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adpac * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddpac+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-4>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DPE365</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddpe365:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adpe365 * 100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adpe365 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddpe365+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-4>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DPE450</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddpe455:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adpe455 * 100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adpe455 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddpe455+'%':'-'}}</p>
        </div>
      </div>

      <p text-center class="text-center" style="font-size:14px;">
        Deps Crescimento
      </p>
      <div>
        <div class="depsPDF" col-4>
          <p>{{animal?.AnimalAGCriador[0].mvp}}MP120</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].ampp120 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].dmpp120:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].ampp120 * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].ampp120 * 100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].ampp120 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].dmpp120+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-4>
          <p>{{animal?.AnimalAGCriador[0].mvp}}MP210</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].ampp240 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].dmpp240:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].ampp240 * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].ampp240 * 100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].ampp240 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].dmpp240+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-4>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DP120</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adpp120 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddpp120:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp120 * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adpp120 * 100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp120 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddpp120+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-4>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DP210</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adpp240 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddpp240:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp240 * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adpp240 * 100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp240 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddpp240+'%':'-'}}</p>
        </div>
        <br />
        <div class="depsPDF" col-4>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DP365</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adpp365 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddpp365:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp365 * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adpp365 * 100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp365 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddpp365+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-4>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DP450</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddpp455:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adpp455 * 100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adpp455 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddpp455+'%':'-'}}</p>
        </div>

      </div>
    </small>
  </div>
  <div id="Html2Pdf3">
    <small>
      <p text-center class="text-center" style="font-size:14px;">
        Deps Carcaça e Eficiência Alimentar
      </p>

      <div>
        <div class="depsPDF" col-4>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DAOL</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adaol * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddaol:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adaol * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adaol
            *
            100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adaol * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddaol+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-4>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DACAB</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adp8 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddp8:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adp8 * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].adp8
            *
            100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adp8 * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddp8+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-4>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DMAR</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].admar * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddmar:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].admar * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].admar
            *
            100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].admar * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddmar+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-4>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DMAC</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].admac * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddmac:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].admac * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].admac
            *
            100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].admac * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddmac+'%':'-'}}</p>
        </div>
        <br />
        <div class="depsPDF" col-4>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DPCQ</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adpcq * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddpcq:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adpcq * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adpcq
            *
            100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adpcq * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddpcq+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-4>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DPPC</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adppc * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddppc:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adppc * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adppc
            *
            100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adppc * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddppc+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-4>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DCAR</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adcar * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddcar:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adcar * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adcar
            *
            100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adcar * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddcar+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-4>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DIMS</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adims * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddims:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adims * 100 | number:0) !=
            0)?(animal?.AnimalAGCriador[0].adims
            *
            100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adims * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddims+'%':'-'}}</p>
        </div>
      </div>
      <p text-center class="text-center" style="font-size:14px;">
        Deps Morfológicas

      </p>
      <div>
        <div class="depsPDF" col-3>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DDES</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].ades * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddes:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].ades * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].ades
            *
            100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].ades * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddes+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-3>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DDPS</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adps * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddps:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adps * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].adps
            *
            100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adps * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddps+'%':'-'}}</p>
        </div>
        <div class="depsPDF" col-3>
          <p>{{animal?.AnimalAGCriador[0].mvp}}DDMS</p>
          <p class="v1">{{((animal?.AnimalAGCriador[0].adms * 100 | number:0) !=
            0)?animal?.AnimalAGCriador[0].ddms:'-'}}</p>
          <p class="v2">@ {{((animal?.AnimalAGCriador[0].adms * 100 | number:0) != 0)?(animal?.AnimalAGCriador[0].adms
            *
            100 | number:0):'-'}}</p>
          <p class="v3">® {{((animal?.AnimalAGCriador[0].adms * 100 | number:0) !=
            0)?animal?.AnimalAGCriador4[0].ddms+'%':'-'}}</p>
        </div>
      </div>

    </small>
  </div>
  <div id="Html2Pdf4">
    <p text-center class="text-center" style="font-size:14px;">
      Arvore Genealógica
    </p>

    <div>
      <div class="depsPDF" text-center style="width: 100%">
        {{animal?.serie}} {{animal?.rgn}} {{animal?.rgd}}<br />
        <b>{{animal?.nome}}</b><br />
        MGTe
        {{animal?.AnimalAGCriador[0].mgt}} @ {{animal?.AnimalAGCriador[0].amgt*100}} TOP
        {{animal?.AnimalAGCriador4[0].mgt}}%
      </div>
      <br /><br />
      <div class="depsPDF" col-6 text-center style="width: 50%">
        {{arvoreGenealogica?.pai?.serie}} {{arvoreGenealogica?.pai?.rgn}} {{arvoreGenealogica?.pai?.rgd}}
        <br /><b>{{arvoreGenealogica?.pai?.nome}}</b>
        <br />MGTe {{arvoreGenealogica?.pai?.AnimalAGCriador[0].mgt}} @
        {{arvoreGenealogica?.pai?.AnimalAGCriador[0].amgt*100}} TOP
        {{arvoreGenealogica?.pai?.AnimalAGCriador4[0].mgt}}%
      </div>

      <div class="depsPDF" col-6 text-center style="width: 50%">
        {{arvoreGenealogica?.mae?.serie}}
        {{arvoreGenealogica?.mae?.rgn}} {{arvoreGenealogica?.mae?.rgd}}<br />
        <b>{{arvoreGenealogica?.mae?.nome}}</b><br />
        MGTe {{arvoreGenealogica?.mae?.AnimalAGCriador[0].mgt}} @
        {{arvoreGenealogica?.mae?.AnimalAGCriador[0].amgt*100}} TOP
        {{arvoreGenealogica?.mae?.AnimalAGCriador4[0].mgt}}%
      </div>
      <br />
      <small>Pais do Pai</small><br />
      <div class="depsPDF" col-6 text-center style="width: 50%">
        {{arvoreGenealogica?.pai?.pai?.serie}}
        {{arvoreGenealogica?.pai?.pai?.rgn}} {{arvoreGenealogica?.pai?.pai?.rgd}}<br /><b>{{arvoreGenealogica?.pai?.pai?.nome}}
        </b><br />MGTe {{arvoreGenealogica?.pai?.pai?.AnimalAGCriador[0].mgt}} @
        {{arvoreGenealogica?.pai?.pai?.AnimalAGCriador[0].amgt*100}} TOP
        {{arvoreGenealogica?.pai?.pai?.AnimalAGCriador4[0].mgt}}%
      </div>
      <div class="depsPDF" col-6 text-center style="width: 50%">
        {{arvoreGenealogica?.pai?.mae.serie}}
        {{arvoreGenealogica?.pai?.mae.rgn}} {{arvoreGenealogica?.pai?.mae.rgd}}<br /><b>{{arvoreGenealogica?.pai?.mae.nome}}
        </b><br />MGTe {{arvoreGenealogica?.pai?.mae.AnimalAGCriador[0].mgt}} @
        {{arvoreGenealogica?.pai?.mae.AnimalAGCriador[0].amgt*100}} TOP
        {{arvoreGenealogica?.pai?.mae.AnimalAGCriador4[0].mgt}}%
      </div>
      <br />
      <small>Pais da Mãe</small><br />
      <div class="depsPDF" col-6 text-center style="width: 50%">
          {{arvoreGenealogica?.mae.pai?.serie}}
          {{arvoreGenealogica?.mae.pai?.rgn}} {{arvoreGenealogica?.mae.pai?.rgd}}<br /><b>{{arvoreGenealogica?.mae.pai?.nome}}
          </b><br />MGTe {{arvoreGenealogica?.mae.pai?.AnimalAGCriador[0].mgt}} @
          {{(arvoreGenealogica?.mae.pai?.AnimalAGCriador[0].amgt*100).toString().substring(0,2)}} TOP
          {{arvoreGenealogica?.mae.pai?.AnimalAGCriador4[0].mgt}}%
      </div>
      <div class="depsPDF" col-6 text-center style="width: 50%">
          {{arvoreGenealogica?.mae.mae.serie}}
          {{arvoreGenealogica?.mae.mae.rgn}} {{arvoreGenealogica?.mae.mae.rgd}}<br /><b>{{arvoreGenealogica?.mae.mae.nome}}
          </b><br />MGTe {{arvoreGenealogica?.mae.mae.AnimalAGCriador[0].mgt}} @
          {{(arvoreGenealogica?.mae.mae.AnimalAGCriador[0].amgt*100).toString().substring(0,2)}} TOP
          {{arvoreGenealogica?.mae.mae.AnimalAGCriador4[0].mgt}}%
      </div>
    </div>
  </div>
</div>
</ion-content>