page-detalhes-animal {
    ion-header .toolbar-background-md, .toolbar-title{
        background-color: #1d71b8;
        color: #ffffff;
    }
    ion-header img {
        max-width: 20%;
        border: 0;
        display: block;
        margin: auto;
    }
    ion-header .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
        color: #ffffff;
        float:right;
    }
    
    ion-navbar{
        background-color: #1d71b8;
        color: white;
    }
    ion-navbar .button-md{
        background: none;
        float:right;
    }
    ion-navbar .infoAval{
        color:#ffffff;
        margin-top:-10px;
    }
    .lista-links ion-item {
        height:20vh;
        background: rgba(57,143,209,1);
        color: #fff;
        text-align: center;
        font-weight: bold;
        position: relative;
    }
    
    .lista-links ion-item a {
        padding-right: 16px !important;
        background-color: transparent !important;
        white-space: normal !important;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
    }
    
    .lista-links.menu-lateral ion-item {
        height: 15.5vh;
    }

    h4{
        color: #00abc9;
    }

    ion-navbar .toolbar-background-md{
        background-color: #1d71b8;
    }

    .scroll-container {
        width: 2600px;
        height: 1000px;
        background: url('../../assets/img/advance-card-jp.jpg') no-repeat
     }


     .filtro * {
        color: #3391db !important;
        font-weight: bold;
    }
    
    .bg-1 {
        background-color: #dcdcdc;
        border-bottom: 2px solid #fff;
    }
     
    .bg-2 {
        background-color: #ececec;
        border-bottom: 2px solid #fff;
    }

    .list-form-pesquisa .item {
        border: 0 !important;
    }
    
    .list-form-pesquisa .item-input {
        padding: 6px 5px;
    }
    
    .list-form-pesquisa .item input {
        border-bottom: 1px solid #ddd;
    }

    .m{
        color: #ffff
    }

    .f{
        color: #ffff
    }

     .scroll-content{
     white-space: nowrap;
    }


    .info-animal h3 {
        width:100%;
        text-align:center;
        padding:10px;
        color:#fff;
        margin-bottom: 0;
        position: relative;
        margin-top:-1px;
    }
    
    .info-animal .header {
        background-color: #43aeff;
        color: #fff;
        font-weight: bold;
    }
    
    .info-animal .body {
        font-size: 0.8em;
        background-color: #eaeaea;
        padding: 4px 0;
    }
    
    .info-animal .scroll {
        white-space: nowrap;
    }

    .depsPDF {
        width: 25%;
        text-align: center;
        border: 1px solid #398fd1;
        padding: 0;
        display: inline-block;
    }
    
    .deps {
        width: 25%;
        text-align: center;
        border: 1px solid #398fd1;
        padding: 0;
        display: inline-block;
    }
    
    .deps h4 {
        background-color: #eaeaea;
        font-weight: bold;
        text-align: center;
        margin: 0;
        color: black;
    }

    .deps p {
        margin-bottom: 0;
        padding: 2px;
        font-weight: bold; 
    }
    
    .deps .v1 {
        margin-bottom: 0;
        padding: 2px;
        font-weight: bold;
        margin-top:-1px;  
    }
    
    .deps .v2 {
        background-color: blue;
        color: white;
        margin-top:-1px;        
    }
    
    .deps .v3 {
        background-color: red;
        color: white;
        margin-top:-1px;
    }

    .tree ul {
        padding-top: 20px; position: relative;
        
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
      
      }
      
      .tree li {
        float: left; text-align: center;
        list-style-type: none;
        position: relative;
        // padding: 20px 5px 0 5px;
        
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
      }
      
      /*We will use ::before and ::after to draw the connectors*/
      
      .tree li::before, .tree li::after{
        content: '';
        position: absolute; top: 0; right: 50%;
        border-top: 1px solid #ccc;
        width: 50%; height: 20px;
      }
      .tree li::after{
        right: auto; left: 50%;
        border-left: 1px solid #ccc;
      }
      
      /*We need to remove left-right connectors from elements without 
      any siblings*/
      .tree li:only-child::after, .tree li:only-child::before {
        display: none;
      }
      
      /*Remove space from the top of single children*/
      .tree li:only-child{ 
          padding-top: 0;
          margin-left: -95px;
        }
      
      /*Remove left connector from first child and 
      right connector from last child*/
      .tree li:first-child::before, .tree li:last-child::after{
        border: 0 none;
      }
      /*Adding back the vertical connector to the last nodes*/
      .tree li:last-child::before{
        border-right: 1px solid #ccc;
        border-radius: 0 5px 0 0;
        -webkit-border-radius: 0 5px 0 0;
        -moz-border-radius: 0 5px 0 0;
      }
      .tree li:first-child::after{
        border-radius: 5px 0 0 0;
        -webkit-border-radius: 5px 0 0 0;
        -moz-border-radius: 5px 0 0 0;
      }
      
      /*Time to add downward connectors from parents*/
      .tree ul ul::before{
        content: '';
        position: absolute; top: 0; left: 50%;
        border-left: 1px solid #ccc;
        width: 0; height: 20px;
      }
      
      .tree li a{
        border: 1px solid #ccc;
        padding: 5px 10px;
        text-decoration: none;
        color: #666;
        font-family: arial, verdana, tahoma;
        font-size: 11px;
        display: inline-block;
        
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
      
        background-color: #fff;
      }
      
      .tree li a.m {
        background-color: #acd3ff !important;
      }
      
      .tree li a.f {
        background-color: #ffacac !important;
      }
      
      /*Time for some hover effects*/
      /*We will apply the hover effect the the lineage of the element also*/
      .tree li a:hover, .tree li a:hover+ul li a {
        background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
      }
      /*Connector styles on hover*/
      .tree li a:hover+ul li::after, 
      .tree li a:hover+ul li::before, 
      .tree li a:hover+ul::before, 
      .tree li a:hover+ul ul::before{
        border-color:  #94a0b4;
      }
      
}
