<ion-header>
  <ion-navbar>
    <ion-title>
        <img text-center style="margin-left: 85px" [src]="'assets/imgs/logo.png'" alt="">
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-navbar>
    <h4 text-center>Pesquisa Detalhada</h4>
  </ion-navbar>

  <hr />
  <button ion-button block (click)="searchFilter()">
    <ion-icon name='search'></ion-icon> {{ 'SEARCH_BUTTON' | translate }}
  </button>
  <hr />
  <form action="">
    <div class="list list-form-pesquisa">
      <ion-list>

        <div class='list'>
          <ion-item class="filtro bg-1 item">

            <ion-label>Raça</ion-label>
            <ion-select style="background-color:transparent;" [(ngModel)]="valoresFiltros.raca" name="valoresFiltros">
              <ion-option *ngFor="let raca of racas" [value]="raca.valor">{{raca.nome}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item class="filtro bg-2 item">
            <ion-label>Sexo</ion-label>
            <ion-select style="background-color:transparent;" [(ngModel)]="valoresFiltros.sexo" name="valoresFiltros">
              <ion-option *ngFor="let sexo of sexos" [value]="sexo.valor">{{sexo.nome}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item style="display:none">
            <ion-label>Raca2</ion-label>
            <ion-select style="background-color:transparent;" [(ngModel)]="valoresFiltros.raca" name="valoresFiltros">
              <ion-option *ngFor="let sexo of racas" [value]="sexo.valor">{{sexo.nome}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngFor="let filtro of filtros; let i = index" [ngClass]="((!consultaPublica && i%2==0) || (consultaPublica && i%2!=0))?'filtro bg-1':'filtro bg-2'">
            <h2 (click)="mostrarFiltro(i)"><b>{{filtro.nome}} - @ {{valoresFiltros[filtro.acuracia]*100 >= 100 ?
                valoresFiltros[filtro.acuracia] : valoresFiltros[filtro.acuracia]*100}} - ®
                {{valoresFiltros[filtro.top]}}% </b>
              <ion-icon *ngIf="!filtro.visivel" icon-end text-right range-right name="arrow-dropup"></ion-icon>
              <ion-icon *ngIf="filtro.visivel" icon-end text-right range-right name="arrow-dropdown"></ion-icon>
            </h2>
            <div class="filtro padding" *ngIf="filtro.visivel" style="background-color:rgb(227, 227, 227);">
              <ion-item class="filtro bg-1 item">
                <ion-label>Top</ion-label>
                <ion-select style="background-color:transparent;" [(ngModel)]="valoresFiltros[filtro.top]" name="valoresFiltros">
                  <ion-option *ngFor="let valor of valoresTop" [value]="valor.valor">{{valor.nome}}</ion-option>
                </ion-select>
              </ion-item>
              <label>Acurácia</label>
              <span class="pull-right">{{valoresFiltros[filtro.acuracia]*100 >= 100 ? valoresFiltros[filtro.acuracia] :
                valoresFiltros[filtro.acuracia]*100}}</span>
              <ion-item class="filtro bg-1 item">
                <ion-range min="1" max="100" [(ngModel)]="valoresFiltros[filtro.acuracia]" name="valoresFiltros" color="secondary">
                  <ion-label range-left>1</ion-label>
                  <ion-label range-right>100</ion-label>
                </ion-range>
              </ion-item>
            </div>
          </ion-item>
        </div>
      </ion-list>
    </div>
  </form>
</ion-content>