page-comida-caseira {
    ion-header .toolbar-background-md, .toolbar-title{
        background-color: #1d71b8;
        color: #ffffff;
    }
    ion-header img {
        max-width: 20%;
        border: 0;
        display: block;
        margin: auto;
    }
    ion-header .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
        color: #ffffff;
    }
    .lista-links ion-item {
        height:20vh;
        background: rgba(57,143,209,1);
        color: #fff;
        text-align: center;
        font-weight: bold;
        position: relative;
    }
    

    ion-icon
    {
        float: right;
    }
    
    .item-md.item-block .item-inner
    {
        border: none;
    }

 
    /* Par */
    .bg-1{
	background:#dcdcdc !important;
}

/* Ímpar */
.bg-2{
	background:#ececec !important;
}


    .filtro *
    {
        color: #3391db !important;
    font-weight: bold;
    }

    .scroll-content
    {
        padding: 0px !important
    }
    .item {
        border-color: #ddd;
        background-color: #fff;
        /* color: #444; */
        position: relative;
        z-index: 2;
        display: block;
        margin: -1px;
        padding: 16px;
        border-width: 1px;
        border-style: solid;
        font-size: 16px;
    }

    .lista-links ion-item a {
        padding-right: 16px !important;
        background-color: transparent !important;
        white-space: normal !important;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
    }
    
    .lista-links.menu-lateral ion-item {
        height: 15.5vh;
    }

    h4{
        color: #00abc9;
    }

    ion-toolbar .toolbar-background-md{
        background-color: #1d71b8;
    }

    h3{
        color: #ffffff;
    }
}
