<ion-header color="warning">

  <ion-navbar color="warning">
    <ion-title text-center float-center><img text-center [src]="'assets/imgs/logo-login.png'" width="25%"></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="doLogin()">
        <ion-icon name="log-in"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <!--ion-navbar>
    <h1 text-center>Bem vindo ao EhVeg</h1>
  </ion-navbar-->
  <!--hr>
  <h4 text-center> Produtos EhVeg</h4-->

  <ion-list>
    <!--div *ngFor="let produto of produtos" (click)="showDetailsProduct(produto)" padding style="width:100%; float:left;"-->
      <div *ngFor="let produto of produtos" (click)="doLogin()" padding style="width:100%; float:left;">
      <div
        style="width:100%; padding:5px; float:left; background-color:#389c21; color:#fff; line-height:20px; font-size:20px;">
        <h2 text-center style="color:#fff; margin:0;">{{produto?.produto ? produto?.produto : produto?.item}}</h2>
      </div>
      <div style="width:100%; height:25px; padding:5px; float:left; background-color:#ddd; font-size:12px;">
        <div class="row" style="padding:0;">
          <div class="col-99 text-center" style="padding:0;">
            <h4>{{produto?.empresa ? 'Produto da lista: EhVeg' : 'Produto da lista: Troll'}}</h4>
          </div>
        </div>
      </div>



      <div style="width:100%; height:25px; padding:5px; float:left; background-color:#ddd; font-size:8px;">
        <div class="row" style="padding:0;">
          <div class="col-99 text-center" style="padding:0;">
            <h4>{{'Fonte: '+ produto?.fonte}}</h4>
          </div>
        </div>
      </div>



      <div style="width:100%; height:25px; padding:5px; float:left; background-color:#ddd; font-size:12px;">
        <div class="row" style="padding:0;">
          <div class="col-99 text-center" style="padding:0;">
            Ver detalhes
          </div>
        </div>
      </div>
    </div>
    <div padding>
      <!--button (click)="cadastrarProduto()" ion-button color="warning" block icon-start-->
        <button (click)="doLogin()" ion-button color="warning" block icon-start>
        <ion-icon name="add"></ion-icon>
        Cadastrar Produto
      </button>
    </div>
  </ion-list>
</ion-content>