page-index {
    ion-header .toolbar-background-md,.toolbar-title{
        background-color: #ffe202;
        border: none;
        overflow: unset !important;
    }
    ion-header .toolbar-background-ios{
        background-color: #ffe202;
        border: none;
    }
}
