<ion-header>
  <ion-navbar>
    <ion-title>
      <img text-center style="margin-left: 25px" [src]="'assets/imgs/logo.png'" alt="">
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-navbar>
    <h4 text-center>Veganatores</h4>
  </ion-navbar>

  <a style="width:96%; margin:0 2%; float:left; position:relative; color:#000;" *ngFor="let vega of veganatores">
    <div>
    </div>
    <div style="width:100%; float:left; border-bottom:2px dashed #ccc;">
      <div style="width:100%; height:30px; padding:5px; float:left; background-color:#389c21; color:#fff; line-height:20px; font-size:20px;">
        <div style="width:15%; float:left; text-align:center; margin-right:10px;">
          <img src="img/vaca.png" height="20" ng-if="animal.sx == 2" alt="">
          <img src="img/touro.png" height="20" ng-if="animal.sx == 1" alt="">
        </div>
        <h3 style="color:#fff; margin:0; font-size:18px;">{{vega?.usuario}}</h3>
      </div>
      <div style="width:100%; height:25px; padding:5px; float:left; background-color:#ddd; font-size:12px;">
        <div class="row" style="padding:0;">
          <div class="col-99 text-center" style="padding:0;">
            Produto: {{vega?.produto}}
          </div>
        </div>
      </div>
      <div style="width:100%; height:auto; padding:5px; float:left; background-color:#eaeaea; font-size:12px;">
        <div class="row" style="padding:0;">
          <div class="col-99 text-center" style="padding:0;">
            Empresa: {{vega?.empresa}}
          </div>
        </div>
      </div>


      <div style="width:auto; height:auto; padding:auto; float:left; background-color:#eaeaea; font-size:12px;">
        <div class="row" style="padding:0;">

        </div>
      </div>
    </div>

    <div>

    </div>
    <div class="clearfix"></div>
  </a>
</ion-content>