<ion-header>
  <ion-navbar>
    <ion-title>
      <img text-center style="margin-left: 2px" [src]="'assets/imgs/logo.png'" alt="">
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-navbar>
    <h4 text-center>Produtos EhVeg mais comentados</h4>
  </ion-navbar>

      <img *ngIf="produtos.length == 0" text-center style="margin-left: 2px" [src]="'assets/imgs/loading.gif'" alt="">

      <div *ngFor="let produto of produtos" (click)="showDetailsProduct(produto)" padding style="width:100%; float:left;">
        <div style="width:100%; height:30px; padding:5px; float:left; background-color:#389c21; color:#fff; line-height:20px; font-size:20px;">
          <h3 text-center style="color:#fff; margin:0; font-size:18px;">{{produto?.produto}}</h3>
        </div>
        <div style="width:100%; height:25px; padding:5px; float:left; background-color:#ddd; font-size:12px;">
          <div class="row" style="padding:0;">
            <div class="col-99 text-center" style="padding:0;">
              Empresa: {{produto?.empresa}}
            </div>
          </div>
        </div>
        <div style="width:100%; height:auto; padding:5px; float:left; background-color:#eaeaea; font-size:12px;">
          <div class="row" style="padding:0;">
            <div class="col-99 text-center" style="padding:0;">
              Responsável: {{produto?.usuario}}
            </div>
          </div>
        </div>
        <div style="width:100%; height:25px; padding:5px; float:left; background-color:#ddd; font-size:12px;">
          <div class="row" style="padding:0;">
            <div class="col-99 text-center" style="padding:0;">
              Avaliações: {{produto?.avaliacoes?.length}}
            </div>
          </div>
        </div>

        <div style="width:100%; height:75px; padding:5px; float:left; background-color:white; font-size:12px;">
          <div class="row" style="padding:0;">
            <div class="col-99 text-center" style="padding:0;">
              <img class="profile-photo" text-center [src]="produto?.foto" alt="">
            </div>
          </div>
        </div>
        
      </div>

</ion-content>