<ion-header>
  <ion-navbar>
    <ion-title>
      <img text-center style="margin-left: 25px" [src]="'assets/imgs/logo.png'" alt="">
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <h4 text-center>Cadastre sua lista aki</h4>
  <form (submit)="saveList()">

    <ion-list>

      <ion-item>
        <ion-label>Nome da Lista aki</ion-label>
        <ion-input type="text" [(ngModel)]="lista.produto" name="produto"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Qual a empresa</ion-label>
        <ion-input type="text" [(ngModel)]="lista.empresa" name="empresa"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Deixe seu WhatsApp aki</ion-label>
        <ion-input type="text" [(ngModel)]="lista.whatsapp" name="Whatsapp"></ion-input>
      </ion-item>
      
      <ion-item>
          <ion-label>URL da lista aki</ion-label>
          <ion-input type="text" [(ngModel)]="lista.ingrediente" name="ingrediente"></ion-input>
        </ion-item>

      <div padding>
          <button ion-button color="primary" block icon-start>
              <ion-icon name="add-circle"></ion-icon>
              Go Vegan - CADASTRAR LISTA
            </button>
      </div>
    </ion-list>
  </form>
</ion-content>