page-lista-produto-vego-novos {
    ion-header .toolbar-background-md,.toolbar-title{
        background-color: #71b81d;
    }
    ion-header .toolbar-background-ios{
        background-color: #71b81d;
    }

    ion-header img {
        max-width: 70%;
        border: 0;
        display: block;
        margin: auto;
    }
    .profile-photo {
        border-radius: 100% !important;
        overflow: hidden;
        //max-width: 25% !important;
        max-height: 100px !important;
        margin-left: 0px !important;
        align-items: center;
        }

    .bar-button-default-ios{
        color: white
    }
    .lista-links ion-item {
        height:20vh;
        background: #71b81d;;
        color: #fff;
        text-align: center;
        font-weight: bold;
        position: relative;
    }
    
    .lista-links ion-item a {
        padding-right: 16px !important;
        background-color: transparent !important;
        white-space: normal !important;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
    }
    
    .lista-links.menu-lateral ion-item {
        height: 15.5vh;
    }

    h4{
        color: #71b81d;
    }

    ion-toolbar .toolbar-background-md{
        background-color: #71b81d;;
    }

    h3{
        color: #ffffff;
    }
}
