<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>
      <img text-center [src]="'assets/imgs/logo.png'">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--h4 text-center>Bem vindo, {{userName}}</h4-->
    <h4 text-center>Bem vindo ao EhVeg</h4>
  <ion-list class="lista-links">
    <ion-item ng-if="cadastroAncp" (click)="openConsultaRapidaDeTouros()" style="background-color:#cbcbcb !important; border-bottom:4px solid #71b81d;">
      <div class="row">
        <div class="col text-center" style="border-right:2px solid #71b81d;">
          <img src="assets/imgs/icones/icone-pesquisa-listas.png" width="60%" alt="">
        </div>
        <div class="col" style="font-size:18px; line-height:18px; white-space:nowrap; color:black; text-align:left; position: relative;">
          <span style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">Lista de Troll, Peta e<br />muito + procure por <br/>nome, por codigo <ion-icon name="barcode"></ion-icon><br/> Nos ajude a formar <br/> a nossa própria lista!</span>
        </div>
      </div>
    </ion-item>
    <ion-item ng-if="cadastroAncp" (click)="openNovoProduto()" style="background-color:#dbdbdb !important; border-bottom:4px solid #71b81d;">
      <div class="row">
        <div class="col" style="font-size:18px; line-height:18px; white-space:nowrap; color:black; text-align:right; position: relative;">
          <span style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">Cadastre um novo <br />produto agora! <br/>  Vamos ajudar novas <br/> miguxas e miguxos<br/>a se tornarem <br/>veganos!</span>
        </div>
        <div class="col text-center" style="border-left:2px solid #71b81d;">
          <img src="assets/imgs/icones/icone-pesquisa-detalhada.png" width="60%" alt="">
        </div>
      </div>
    </ion-item>

    <ion-item ng-if="cadastroAncp" (click)="openNovaLista()" style="background-color:#ebebeb !important; border-bottom:4px solid #71b81d;">
      <div class="row">
        <div class="col text-center" style="border-right:2px solid #71b81d;">
          <img src="assets/imgs/icones/icone-animais-salvos.png" width="60%" alt="">
        </div>
        <div class="col" style="font-size:18px; line-height:18px; white-space:nowrap; color:black; text-align:right; position: relative;">
          <span style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">Conhece lista ou site<br />de produtos vegano?<br />Cadastre já!<br/> Nossos roboganos <br/> irāo mostras<br/> elas aqui <ion-icon ios="ios-send" md="md-send"></ion-icon>
            </span>
        </div>
      </div>
    </ion-item>

    <!--ion-item (click)="openVeganator()" style="background-color:#f2f2f2 !important; border-bottom:4px solid #71b81d;">
      <div class="row">
        <div class="col" style="font-size:18px; line-height:18px; white-space:nowrap; color:black; text-align:center; position: relative;">
          <span style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">Seja um Veganator!<br/> E nos ajude a dar <br/> credibilidade aos <br/>produtos <br/>cadastrados aqui. </span>
        </div> 
        <div class="col text-center" style="border-left:2px solid #71b81d;">
          <img src="assets/imgs/icones/icone-pesquisa-por-nome.png" width="60%" alt="">
        </div>
      </div>
    </ion-item-->

    <ion-item (click)="openProdutosEmAlta()" style="background-color:#f2f2f2 !important; border-bottom:4px solid #71b81d;">
      <div class="row">
        <div class="col" style="font-size:18px; line-height:18px; white-space:nowrap; color:black; text-align:center; position: relative;">
          <span style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">VOTE!<br/>Nossa lista EhVeg<br/> ainda eh tímida <br/> tadinha mas com o  <ion-icon ios="ios-clock" md="md-clock"></ion-icon><br/> e ajuda de <ion-icon ios="ios-people" md="md-people"></ion-icon> <br/>vai crescer</span>
        </div> 
        <div class="col text-center" style="border-left:2px solid #71b81d;">
          <img src="assets/imgs/icones/produtos-alta.png" width="60%" alt="">
        </div>
      </div>
    </ion-item>

    <!--ion-item ng-if="cadastroAncp" (click)="openProdutosEmAlta()" style="background-color:#ebebeb !important; border-bottom:4px solid #71b81d;">
      <div class="row">
        <div class="col text-center" style="border-right:2px solid #71b81d;">
          <img src="assets/imgs/icones/produtos-alta.png" width="60%" alt="">
        </div>
        <div class="col" style="font-size:18px; line-height:18px; white-space:nowrap; color:black; text-align:right; position: relative;">
          <span style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">VOTE!<br/>Nossa lista EhVeg<br/> ainda eh tímida <br/> tadinha mas com o  <ion-icon ios="ios-clock" md="md-clock"></ion-icon><br/> e ajuda de <ion-icon ios="ios-people" md="md-people"></ion-icon> <br/>vai crescer</span>
        </div>
      </div>
    </ion-item-->

    <ion-item ng-if="cadastroAncp" (click)="openNovosProdutos()" style="background-color:#ebebeb !important; border-bottom:4px solid #71b81d;">
      <div class="row">
        <div class="col text-center" style="border-right:2px solid #71b81d;">
          <img src="assets/imgs/icones/novos-produtos.png" width="60%" alt="">
        </div>
        <div class="col" style="font-size:18px; line-height:18px; white-space:nowrap; color:black; text-align:right; position: relative;">
          <span style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">Novos produtos! <br/> <br/> VOTE!</span>
        </div>
      </div>
    </ion-item>

    <ion-item (click)="openCadastroApoiadores()" style="background-color:#f2f2f2 !important; border-bottom:4px solid #71b81d;">
      <div class="row">
        <div class="col" style="font-size:18px; line-height:18px; white-space:nowrap; color:black; text-align:center; position: relative;">
          <span style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">Seja um apoiador! <br/> Cadastre sua marca, <br/> produto ou serviço.<br/><br/>GRATUITAMENTE!</span>
        </div>
        <div class="col text-center" style="border-left:2px solid #71b81d;">
          <img src="assets/imgs/icones/eye.png" width="60%" alt="">
        </div>
      </div>
    </ion-item>


    <ion-item (click)="openPatrocinadores()" style="background-color:#f2f2f2 !important; border-bottom:4px solid #71b81d;">
      <div class="row">
        <div class="col text-center" style="border-right:2px solid #71b81d;">
          <img src="assets/imgs/icones/eye.png" width="60%" alt="">
        </div>
        <div class="col" style="font-size:18px; line-height:18px; white-space:nowrap; color:black; text-align:right; position: relative;">
          <span style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">Nossos apoiadores! <br/> Parceiros e amigos!</span>
        </div>
      </div>
    </ion-item>

    <!--ion-item ng-if="cadastroAncp" (click)="openPatrocinadores()" style="background-color:#ebebeb !important; border-bottom:4px solid #71b81d;">
      <div class="row">
        <div class="col text-center" style="border-right:2px solid #71b81d;">
          <img src="assets/imgs/icones/eye.png" width="60%" alt="">
        </div>
        <div class="col" style="font-size:18px; line-height:18px; white-space:nowrap; color:black; text-align:right; position: relative;">
          <span style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">Seja um apoiador! <br/> Divulgue sua marca, <br/> produto ou serviço.<br/><br/>GRATUITAMENTE!</span>
        </div>
      </div>
    </ion-item-->

    
      <div padding>
        <!--<button (click)="openPatrocinadores()" ion-button color="primary" block icon-start>          
          Apoiadores
        </button>-->
      </div>
  </ion-list>
</ion-content>
<ion-footer class="bar-footer-principal" (click)="doLogout()">
  <ion-toolbar>
    <h3 text-center>
      <ion-icon name="log-out"></ion-icon> <span>Sair</span>
    </h3>
  </ion-toolbar>
</ion-footer>