page-content {
    ion-header .toolbar-background-md, .toolbar-title{
        background-color: #71b81d;;
        color: #ffffff;
    }
    ion-header img {
        max-width: 75%;
        border: 0;
        display: block;
        margin: auto;
    }
    .lista-links ion-item {
        height:20vh;
        background: #71b81d;;
        color: #fff;
        text-align: center;
        font-weight: bold;
        position: relative;
    }
    
    .lista-links ion-item a {
        padding-right: 16px !important;
        background-color: transparent !important;
        white-space: normal !important;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
    }
    
    .lista-links.menu-lateral ion-item {
        height: 15.5vh;
    }

    h4{
        color: #71b81d;
    }

    ion-toolbar .toolbar-background-md,.toolbar-background-ios{
        background-color: #71b81d;;
    }

    h3{
        color: #ffffff;
    }
}
