<ion-header>
  <ion-navbar>
    <ion-title>
      <img text-center style="margin-left: 25px" [src]="'assets/imgs/logo.png'" alt="">
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-navbar>
    <h4 text-center>Veganator</h4>
  </ion-navbar>
  <div padding>
  <p padding text-justify>Os VegaNators são voluntários que contribuem com a causa vegana ajudando a identificar novos
    produtos, conferir se os mesmos atendem aos critérios, identificação de novas listas, entre outras coisas.
    Torne-se um VegaNator! Cadastre-se já!<p>
      <button icon-start ion-button (click)="goCadastroLista()" color="primary" block>
        <ion-icon name='search'></ion-icon> Go EhVeg, quero ser um VeganNator!
      </button>
      <hr />
      <p padding text-justify>Se voce se cadastrou como VegaNator, podera acessar e comentar na lista de produtos
        cadastrados pelos usuarios EhVeg, clicando no botao abaixo. Se nao se cadastrou ainda, cadastra-se como
        VegaNator clicando no botao acima.o<p>
          <button icon-start ion-button (click)="goListaCadastrados()" color="primary" block>
            <ion-icon name='search'></ion-icon> Go EhVeg, ver os cadastrados!
          </button>
          </div>

</ion-content>