<ion-header>
  <ion-navbar>
    <ion-title>
      <img text-center style="margin-left: 25px" [src]="'assets/imgs/logo.png'" alt="">
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <h4 text-center>Cadastre seu produto empresa, gratuito... seja nosso parceio akiii</h4>

  <form (submit)="saveApoiadores()">
      <!-- 
      nome: { type: String }, url: { type: String }, imagem: { type: String }, cidade: { type: String }, estado: { type: String }
      , descricao: { type: String }
        -->

      <ion-list>
        <div text-center center>
          <img class="profile-photo" (click)="tirarFotoProduto()" text-center [src]="base64Image" alt="">
          </div>

      <ion-item>
        <ion-label>Nome da sua empresa ou produto</ion-label>
        <ion-input type="text" [(ngModel)]="lista.nome" name="nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Informe o site, fecebok da sua empresa</ion-label>
        <ion-input type="text" [(ngModel)]="lista.url" name="url"></ion-input>
      </ion-item>

      <!--ion-item>
        <ion-label>Faça um upload da sua marca ou seu produto</ion-label>
        <ion-input type="text" [(ngModel)]="lista.imagem" name="imagem"></ion-input>
      </ion-item-->
      
      <ion-item>
          <ion-label>Fale um pouco mais sobre sua empresa ou produto</ion-label>
          <ion-input type="text" [(ngModel)]="lista.descricao" name="descricao"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label>Informe sua cidade</ion-label>
          <ion-input type="text" [(ngModel)]="lista.cidade" name="cidade"></ion-input>
        </ion-item>

              
      <ion-item>
        <ion-label>Em que estado fica sua empresa?</ion-label>
        <ion-input type="text" [(ngModel)]="lista.estado" name="estado"></ion-input>
      </ion-item>

      <div padding>
          <button ion-button color="primary" block icon-start>
              <ion-icon name="add-circle"></ion-icon>
              Go Vegan - CADASTRAR APOIADORES
            </button>
      </div>
      </ion-list>
  </form>
</ion-content>