<ion-header>
  <ion-navbar>
    <ion-title>
      <img text-center style="margin-left: 25px" [src]="'assets/imgs/logo.png'" alt="">
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-navbar>
    <h4 text-center>Consulta de Produtos Veganos</h4>
  </ion-navbar>
  <div padding>
    <p padding text-justify>Pesquise seu produto por Código de Barras! Caso não encontre, fique tranquilo. Nós te
      daremos a opção de realizar o cadastro desse produto =)</p>
      <ion-label>Pesquise por código de barras </ion-label>
    <ion-item>
      <ion-avatar item-end>
        <button (click)="abrirCodigoBarras()" text-center ion-button color="primary" block icon-start>
          <ion-icon text-center name="md-camera"></ion-icon>
        </button>
      </ion-avatar>
      <ion-label fixed>Código de Barras </ion-label>
      <ion-input type="text" [(ngModel)]="codigoDeBarras" name="codigoDeBarras"></ion-input>
    </ion-item>


    <button icon-start ion-button (click)="goSearchLista()" color="primary" block>
      <ion-icon name='search'></ion-icon> Go Veg!, procurar por código!
    </button>
    <br />
    <hr/>
    <ion-label>Pesquise por nome do produto lobo</ion-label>
    <ion-item>
      <ion-label fixed>Nome: </ion-label>
      <ion-input type="text" [(ngModel)]="nomeConsulta" name="nomeConsulta"></ion-input>
    </ion-item>

    <button icon-start ion-button (click)="goSearchByName()" color="primary" block>
      <ion-icon name='nome'></ion-icon> Go EhVeg!, procurar por nome!
    </button>
  </div>

</ion-content>