<ion-header>
  <ion-navbar>
    <ion-title>
      <img text-center style="margin-left: 25px" [src]="'assets/imgs/logo.png'" alt="">
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <h4 text-center>Seja um VegaNator</h4>
  <form (submit)="saveVeganator()">

    <ion-list>

      <ion-item>
        <ion-label>Nome</ion-label>
        <ion-input type="text" [(ngModel)]="veganator.produto" name="produto"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Empresa</ion-label>
        <ion-input type="text" [(ngModel)]="veganator.empresa" name="empresa"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>WhatsApp</ion-label>
        <ion-input type="text" [(ngModel)]="veganator.whatsapp" name="whatsapp"></ion-input>
      </ion-item>

      <div padding>
          <button ion-button color="primary" block icon-start>
              <ion-icon name="add-circle"></ion-icon>
              Go Vegan
            </button>
      </div>
    </ion-list>
  </form>
</ion-content>